/* Center alignment for the HBox */
.hbox-center {
    alignment: center;
    spacing: 10px;
}

/* Styling for the buttons */
.button-style {
    -fx-background-color: #1e90ff; /* Màu xanh da trời mặc định */
    -fx-text-fill: white;
    -fx-font-size: 14px;
    -fx-padding: 10px;
    -fx-background-radius: 5px;
}

.button-style:hover {
    -fx-background-color: #63a4ff;
}

.button-style:pressed {
    -fx-background-color: #1abc9c;
}

/* Styling for the VBox content */
.vbox-content {
    -fx-padding: 20px;
    -fx-spacing: 10px;
}

.date-button {
    -fx-background-color: #1e90ff;
    -fx-text-fill: white;
    -fx-font-size: 14px;
    -fx-padding: 10px;
    -fx-border-radius: 5px;
    -fx-background-radius: 5px;
}

.date-button:hover {
    -fx-background-color: #63a4ff;
}

.showtime-box {
    -fx-border-color: black;
    -fx-padding: 10px;
    -fx-spacing: 10px;
}

.showtime-box > Label {
    -fx-font-size: 14px;
}

.book-button {
    -fx-background-color: #ff6347;
    -fx-text-fill: white;
    -fx-font-size: 14px;
    -fx-padding: 10px;
    -fx-border-radius: 5px;
    -fx-background-radius: 5px;
}

.book-button:hover {
    -fx-background-color: #ff8566;
}

/* Custom styles for button selection */
.button-style.selected {
    -fx-background-color: #00ff00; /* Màu xanh lá cây khi đã chọn */
}
